@model List<DimProductSubcategory>
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            @*<th>Product SubCategory Key</th>*@
            <th>Product SubCategory Alternate Key</th>
            <th>Product SubCategory Name</th>
            <th>Category Name</th>
        </tr>
    </thead>
    @foreach (DimProductSubcategory item in Model)
    {
        <tr>
            @*<td>@item.ProductSubCategoryKey</td>*@
            <td>@item.ProductSubCategoryAlternateKey</td>
            <td>@item.ProductSubCategoryName</td>
            <td>@item.ProductCategory</td>
        </tr>
    }
</table>