<b>Được tạo Bởi Nguyễn Quóc Vũ</b>
<div>
    <b>Email: nguyenquocvu.16494@gmail.com</b>
</div>
<div>
    <b>Phone: 0988816494</b>
</div>
<div>
    <b>Hoàn thiện : 05/04/2020</b>
</div>
<div>
    <b>Mô tả:</b>
</div>
<div>
    Web bán hàng xe đạp và phụ kiện đi kèm.
</div>
<div>
    Có View register customer, signin, signout, cart, product, employee, search tên mã sản phẩm
</div>
<div>
    Khi đăng nhập quyền admin (user: admin, pass: 123) thì trên sẽ truy cập Employee, Customer, Department, Company Organization, Geography
</div>
<div>
    Khi đăng nhập quyền customer (user:customer1@adventure.com, pass:123) hoặc employee (user:Employee1@adventure.com, pass:123) sẽ không truy cập được Employee, Customer, Department, Company Organization, Geography,

</div>

<div>
    chỉ có thể tạo giỏ hàng mua hàng
</div>
<div>
    File Đính kèm: 1 file project C#, 1 file backup Sql và 1 file script sql nếu file backup không chạy được
</div>
<div>
    Xin chân thành cảm ơn Thầy Thanh đã hỗ trợ làm đồ án web để hoàn thiện nhất
</div>
